{
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-astro"],
  "importOrder": ["<TYPES>", "<THIRD_PARTY_MODULES>", "", "^[./]"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
